<?xml version="1.0"?>
<config>
    <modules>
        <Vis_Sitemap>
            <version>0.1.0</version>
        </Vis_Sitemap>
    </modules>
    <global>
        <resources>
            <vis_sitemap_setup>
                <setup>
                    <module>Vis_Sitemap</module>
                    <class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
            </vis_sitemap_setup>
        </resources>
        <helpers>
            <vis_sitemap>
                <class>Vis_Sitemap_Helper</class>
            </vis_sitemap>
        </helpers>
        <models>
            <sitemap_resource>
                <rewrite>
                    <catalog_category>Vis_Sitemap_Model_Resource_Sitemap_Catalog_Category</catalog_category>
                    <cms_page>Vis_Sitemap_Model_Resource_Sitemap_Cms_Page</cms_page>
                </rewrite>
            </sitemap_resource>
        </models>
        <events>
            <adminhtml_cms_page_edit_tab_main_prepare_form>
                <observers>
                    <vis_sitemap>
                        <class>Vis_Sitemap_Model_Observer</class>
                        <method>adminhtmlCmsPageEditTabMainPrepareForm</method>
                    </vis_sitemap>
                </observers>
            </adminhtml_cms_page_edit_tab_main_prepare_form>
        </events>
    </global>
</config>